/*small mobile viewport*/

body, html {
    box-sizing: border-box;
    margin: 0
}
/*center header for mobile, right justify with larger viewports*/

.body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 2vw;
}

.responsive-heroimage {
    height: auto;
    max-width: 100vw;
}

.featured {
    font-size: 2vw;
    font-style: italic;
}

.featured-hdr {
    font-size: 4vw;
    font-style: normal;
    margin-bottom: 0%;
}

p {
    margin-top: 0%;
}

.header {
    justify-content: space-around;
    text-align: center;
}

.header-logo .resize {
    height: 90px;
    width: 120px;
}

.header-name {
    margin-bottom: 2px;
}

.header-title {
    margin-top: 2px;
}

.main {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a hover {
    color: black;
    transition: .5s;
}

/*responsive code*/

@media screen and (min-width: 800px) {

    .header {
        display: flex;
    }

    .header-logo {
        margin-top: 10px;
        text-align: left;
    }

    .header-name {
        margin-bottom: 2px;
        text-align: right;
    }

    .header-title {
        margin-top: 2px;
        text-align: right;
    }

    .responsive-heroimage {
        width: calc(100% - 60px);
        height: auto;
    }

    .featured-item {
        float: left;
        font-style: normal;
        width: calc((100% - 20px)/3);
    }

    .responsive-image {
        margin-right: 10px;
        width: calc(100% - 60px);
        height: auto;
    }

    .responsive-image last-of-type {
        margin-right: 0;
    }
}